.radio-label {
  cursor: pointer;

  .radio-input {
    display: none;
  }
  .liquid {
    height: 28px;
    width: 28px;
  }
}

.ratingMessage {
  font-size: x-small;
  padding-top: 5px;
  white-space: nowrap; // 改行できなくする
}
