* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* set up default styling */
:root {
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(93, 75%, 76%);
  --tagsColor: hsl(99, 100%, 88%);
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --darkWhiteColor: hsla(0, 0%, 100%, 0.391);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(113, 11%, 85%);
  --inputColor: hsl(330, 12%, 97%);
  --waterColor: hsl(209, 56%, 52%);
  --waterHoverColor: hsl(197, 100%, 50%);
  --editColor: hsl(30, 85%, 70%);
  // --editHoverColor: hsl(30, 100%, 79%);
  --deleteColor: hsl(9, 85%, 65%);
  // --deleteHoverColor: hsl(59, 100%, 75%);
  --appTitleColor: hsl(217.5, 3.48%, 45.1%);
  --notificationButtonColor: rgb(229 231 235 / 0.5);
  --tw-bg-opacity: 1;
  --notificationButtonHoverColor: rgb(229 231 235 / var(--tw-bg-opacity));
  --addNewPlantButtonColor: rgb(236 252 203);
  --addNewPlantButtonHoverColor: rgb(213, 252, 203);
  --memoButtonColor: rgb(211, 150, 242);

  --editButtonColor: hsl(0, 4%, 27%);

  --sb-track-color: #eaf0f3;
  --sb-thumb-color: #3c3e3c48;
  --sb-thumb-hover-color: #2f302f78;
  --sb-size: 10px;
  --buttonHoverColor: rgb(243 244 246 / 0.8);

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);

  /* Font any Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
  color: rgb(177, 64, 64);
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img,
video {
  height: auto;
  width: 100%;
}

.message {
  display: none; /*後で反応を見る */
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.8rem 1rem;
  color: var(--greyText);
}

.btn .icon {
  margin-left: 0.5rem;
}

.btn:hover {
  color: var(--primaryColor);
  background: var(--paleGreen);
}

.loginPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;

  .container {
    height: 75vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background-color: hsl(0, 0%, 91%);

    .videoDiv {
      position: relative;
      display: flex;
      flex-basis: 50%;
      width: 70%;
      height: 100%;
      padding: 0 1.5rem;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border-radius: 10px;
      overflow: hidden;

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      video,
      .footerDiv {
        position: absolute;
      }

      .textDiv {
        position: relative;

        .title {
          color: var(--whiteColor);
          font-size: 35px;
          font-weight: 800;
        }
        p {
          color: var(--whiteColor);
          padding: 1rem;
          font-weight: 400;
        }
      }

      .footerDiv {
        bottom: 10px;
        padding: 0 1rem;
        height: 60px;
        background: rgba(255, 255, 255, 0.248);
        left: 10px;
        right: 10px;
        justify-content: space-between;
        backdrop-filter: blur(1px);
        border-radius: 10px;

        .text {
          color: var(--whiteColor);
        }

        .btn {
          background: var(--whiteColor);
          color: var(--primaryColor);
          padding: 0.8rem 1.5rem;
          border-radius: 10px;
          font-weight: 400;
          transition: 0.3s ease;

          &:hover {
            background: var(--hoverColor);
            color: var(--blackColor);
          }
        }
      }
    }

    .formDiv {
      flex-basis: 50%;
      margin: auto;
      flex-direction: column;
      gap: 1.5rem;
      transform: translateY(-1rem);

      .headerDiv {
        text-align: center;
        padding: 1.5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-container {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          border: 2px solid var(--inputColor);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          cursor: pointer;
          margin-top: 50px;
          overflow: hidden;
        }
        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
        }

        img {
          width: 60px;
          margin: auto;
          padding-bottom: 0.5rem;
        }

        h3 {
          font-size: 25px;
          color: var(--blackColor);
          font-weight: 600;
        }
      }

      .form {
        gap: 1rem;

        .inputDiv {
          .icon {
            color: var(--greyText);
          }

          input {
            background: none;
            outline: none;
            border: none;
            width: 200px;
          }

          .number-input::-webkit-outer-spin-button,
          .number-input::-webkit-inner-spin-button {
            background-color: white;
            background: white;
            width: 50px;
            // -webkit-appearance: none;
            margin: 0;
          }

          label {
            color: var(--blackColor);
            font-weight: 400;
            font-size: 14px;
            padding: 0.5rem 0;
            display: block;
          }

          .error-message {
            color: rgb(241, 40, 40) !important;
            font-weight: 400;
            font-size: 12px;
            padding: 0.5rem 0;
            display: block;
          }

          .input {
            gap: 0.5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;
          }
        }

        .btn {
          padding: 0.8rem;
          background: var(--primaryColor);
          border-radius: 10px;
          color: var(--whiteColor);
          align-items: center;
          margin: auto;
          justify-content: center;
          font-size: 16px;
          width: 100%;
          gap: 0.5rem;
          transition: 0.3s ease;

          .icon {
            font-size: 25px;
            transition: 0.3s ease;
          }

          &:hover {
            background: var(--hoverColor);
            color: var(--blackColor);

            .icon {
              color: var(--blackColor);
              transform: translateX(5px);
            }
          }
        }

        .forgotPassword {
          font-size: 13px;
          color: var(--blackColor);
          opacity: 0.7;
          text-align: center;
          margin-top: 10px;

          a {
            text-decoration: underline;
            cursor: pointer;
            opacity: 1;
          }
        }
      }
    }
  }
}

// 消すな！
// モーダル外の操作を無効にする
body.modal-open {
  pointer-events: none;

  .delete > .relative {
    pointer-events: auto;
  }

  .delete-background {
    pointer-events: auto;
  }
}

// Queies for the login components
@media screen and (max-width: 602px) {
  .loginPage {
    .container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .videoDiv {
        width: 100%;
        .textDiv {
          .title {
            font-size: 20px;
          }

          p {
            padding: 1rem;
          }
        }

        .footerDiv {
          .text {
            font-size: 12px;
          }

          .btn {
            padding: 0.4rem 1.5rem;
          }
        }
      }

      .formDiv {
        gap: 1rem;
        transform: translateY(-0.5rem);

        .headerDiv {
          padding: 1rem 0;

          img {
            width: 40px;
          }

          h3 {
            font-size: 20px;
          }
        }

        .form {
          gap: 0.5rem;

          .inputDiv {
            input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .loginPage {
    .container {
      .videoDiv {
        .textDiv {
          .title {
            font-size: 25px;
          }

          p {
            padding: 1rem;
          }
        }

        .footerDiv {
          .text {
            font-size: 12px;
          }

          .btn {
            padding: 0.8rem 1.5rem;
          }
        }
      }

      .formDiv {
        .headerDiv {
          padding: 1.5rem 0;
          display: flex;
          // flex-direction: column;
          // align-items: center;

          .icon-container {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--inputColor);
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;
            margin-top: 50px;
            overflow: hidden;
          }
          .icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -45%);
          }

          h3 {
            font-size: 20px;
          }
        }

        .form {
          .inputDiv {
            input {
              width: 100%;
              max-width: 200px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 927px) {
  .loginPage {
    .container {
      width: 85%;
    }
  }
}

@media screen and (min-width: 928px) {
  .loginPage {
    .container {
      width: 90%;
    }
  }
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: 2px solid #eaf0f3;

  &:hover {
    background: var(--sb-thumb-hover-color);
  }
}

// // Hide scroll bar
// ::-webkit-scrollbar {
//   display: none;
// }
