.plant_img {
  width: 180px;
  height: 180px;
  box-shadow: 2px 6px 10px 3px #777777;
  // box-shadow: rgb(0, 0, 0, 0.3) 3px 3px 6px 0px inset,
  //   rgba(0, 0, 0, 0.3) -3px -3px 6px 1px inset;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
  //   background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-size: cover;
  //   background-position: center;
  overflow: hidden;
  margin: 10px 25px 0 25px;
  margin-top: 10px;
}

#plant__name {
  // done
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--blackColor);
}

.plant__name_flex {
  display: flex;
  justify-content: center;
  gap: 5px;

  span {
    font-size: 15px;
  }

  .plant-size {
    opacity: 0.85;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    // border: solid var(--blackColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--bgColor);
    border-width: thin;
  }
}

.fa-solid .fa-plus-water :hover {
  cursor: pointer;
  background: var(--waterHoverColor);
  color: var(--blackColor);
  // transform: scale(1.1);
}

.fa-solid:hover {
  cursor: pointer;
  background: var(--hoverColor);
  color: var(--blackColor);
  // transform: scale(1.1);
}

.plant__details {
  width: 360px;
  height: 40px;
  // margin-right: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  // justify-content: center;
  align-items: center;
}

.lastWateringDay {
}

.thisMonth_Watering_times {
  margin-left: 20px;
  margin-right: 20px;
}

.next_watering_day {
}

.lastCondition {
  margin-top: 10px;
  padding: 10px 0 0 10px;

  .condition_expression {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
  }

  .condition_memo {
    width: 400px;
    // padding: 0.7rem;
    display: flex;
    gap: 0.4rem;
    flex-wrap: wrap;

    .tag-text {
      background-color: var(--tagsColor);
      display: inline-block;
      padding: 0.25em 0.5em;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      align-items: center;
    }
  }
}
.setup__p {
  text-align: justify;
  width: 75%;
  color: #dbd8e3;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 13px;
}

.fa-location-dot {
  margin-left: 2px;
  color: #ff4c29;
  font-size: 12px;
}

.setup__span {
  margin-left: 25px;
  color: #f5eded;
  font-size: 10px;
}

.containers:hover > .content {
  transform: translateY(40%);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
}

.bookBtn {
  margin-left: 25px;
  font-size: 15px;
  padding: 5px 10px;
  margin-top: 20px;
  border: none;
  color: #fff;
  background-color: #ff4c29;
}

.ui-card {
  width: 350px;
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
}

ui-card img {
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

.ui-card:hover img {
  transform: scale(1.1) translateY(-20px);
  opacity: 0.3;
}

.buttonContainer {
  height: 100vh;
  overflow-y: auto;
}

// // Hide scroll bar
.plant-detail {
  .plant-detail-main::-webkit-scrollbar {
    display: none;
  }
}
