.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

html {
  font-size: 90%;
}

li {
  list-style: none;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

img {
  height: auto;
  width: 100%;
}

.message {
  display: none; /*後で反応を見る */
}

.showMessage {
  display: block;
  color: var(--whiteColor);
  background: rgb(255, 0, 0);
  border-radius: 3px;
  text-align: center;
}

/* Paging style */
.registerForm {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  // bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  // box-shadow: 0 7px 50px rgb(214, 223, 213);

  .registerForm-container {
    margin-top: 60px;
    width: 40%;
    border-radius: 10px;
    background-color: hsl(0, 0%, 91%);

    .formDiv {
      flex-basis: 50%;
      margin: auto;
      flex-direction: column;
      gap: 1.5rem;

      .headerDiv {
        text-align: center;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          font-size: 25px;
          color: var(--blackColor);
          font-weight: 600;
          margin-top: 20px;
        }

        .icon-container {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          border: 2px solid var(--inputColor);
          border-radius: 50%;
          width: 70px;
          height: 70px;
          cursor: pointer;
          margin-top: 10px;
          overflow: hidden;
        }

        .plant-picture-icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -45%);
          width: 40px;
          height: 40px;
        }

        img {
          width: 60px;
          margin: auto;
          padding-bottom: 0.5rem;
        }
      }

      .form {
        gap: 1rem;

        .inputDiv {
          .icon {
            color: var(--greyText);
          }

          input {
            background: none;
            outline: none;
            border: none;
            // width: 200px;
          }

          // .number-input::-webkit-outer-spin-button,
          // .number-input::-webkit-inner-spin-button {
          //   background-color: white;
          //   background: white;
          //   width: 50px;
          //   // -webkit-appearance: none;
          //   margin: 0;
          // }

          label {
            color: var(--blackColor);
            font-weight: 400;
            font-size: 14px;
            padding-bottom: 0.5rem;
            // display: block;
          }

          .error-message {
            color: rgb(241, 40, 40) !important;
            font-weight: 400;
            font-size: 12px;
            padding: 0.5rem 0;
            display: block;
          }

          .name-input {
            gap: 0.5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;
          }

          .size-input {
            gap: 0.5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;

            select {
              // margin-right: 10px;
              width: 180px;
              background-color: var(--inputColor);
            }
          }

          .leaf-input {
            // width: 200px;
            gap: 0.5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;

            .number-input {
              width: 200px;
            }
          }

          .wateringCycle-input {
            gap: 0.5rem;
            padding: 1rem;
            background: var(--inputColor);
            border-radius: 10px;
          }
        }

        .btn {
          padding: 0.8rem;
          background: var(--primaryColor);
          border-radius: 10px;
          color: var(--whiteColor);
          align-items: center;
          margin: auto;
          justify-content: center;
          font-size: 16px;
          width: 100%;
          gap: 0.5rem;
          transition: 0.3s ease;

          .icon {
            font-size: 25px;
            transition: 0.3s ease;
          }

          &:hover {
            background: var(--hoverColor);
            color: var(--blackColor);

            .icon {
              color: var(--blackColor);
              transform: translateX(5px);
            }
          }
        }

        a {
          cursor: pointer;
          opacity: 1;
        }

        .add-plant-btn {
          transition: ease 0.3s;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          &:hover {
            cursor: pointer;
            transform: translateY(2px);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          }
        }

        .cancel-btn {
          background-color: var(--whiteColor);
          color: var(--blackColor);
          transition: ease 0.3s;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          &:hover {
            background-color: var(--whiteColor);
            color: var(--blackColor);
            cursor: pointer;
            transform: translateY(2px);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}

// Queies for the login components
// @media screen and (max-width: 602px) {
//   .loginPage {
//     .container {
//       height: 100%;
//       width: 100%;
//       flex-direction: column;
//       padding: 1.5rem;

//       .formDiv {
//         gap: 1rem;
//         transform: translateY(-0.5rem);

//         .headerDiv {
//           // padding: 1rem 0;

//           img {
//             width: 40px;
//           }

//           h3 {
//             font-size: 20px;
//             padding-top: 20px;
//           }
//         }

//         .form {
//           gap: 0.5rem;

//           .inputDiv {
//             input {
//               width: 100%;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 678px) {
//   .loginPage {
//     .container {
//       .formDiv {
//         .headerDiv {
//           padding: 1.5rem 0;
//           display: flex;
//           // flex-direction: column;
//           // align-items: center;

//           .icon-container {
//             position: relative;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             align-items: center;
//             border: 2px solid var(--inputColor);
//             border-radius: 50%;
//             width: 40px;
//             height: 40px;
//             cursor: pointer;
//             margin-top: 50px;
//             overflow: hidden;
//           }
//           .icon {
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -45%);
//           }

//           h3 {
//             font-size: 20px;
//           }
//         }

//         .form {
//           .inputDiv {
//             input {
//               width: 100%;
//               max-width: 200px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media screen and (max-width: 927px) {
//   .loginPage {
//     .container {
//       width: 85%;
//     }
//   }
// }

// @media screen and (min-width: 928px) {
//   .loginPage {
//     .container {
//       width: 100%;
//     }
//   }
// }

// // Hide scroll bar
// ::-webkit-scrollbar {
//   display: none;
// }
