#title {
  font-size: 30px;
  text-align: left;
  margin-top: 30px;
  margin-left: 40px;
  color: var(--blackColor);
}

#archived-title {
  font-size: 20px;
  opacity: 0.8;
  text-align: left;
  margin-top: 10px;
  margin-left: 40px;
  color: var(--blackColor);
}

.plantCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
}

.archived-plantCardContainer {
  overflow-x: auto; // 横方向のオーバフロースクロール
  white-space: nowrap; // 子要素を改行させない
  margin-top: 8px;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-left: 40px;
  padding-bottom: 50px;
}

.plants-list::-webkit-scrollbar {
  width: 0;
}

.plants-list:hover::-webkit-scrollbar {
  width: var(--sb-size);
}

.plants-list::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

.plants-list::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: 2px solid #eaf0f3;
}
