.waterChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.waterChartMenu {
  width: 700px;
  height: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

.waterChartCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.waterChartBox {
  width: 650px;
  height: 120px; /* ← chartの高さを低くする */
  padding: 10px 0 10px 0;
  margin: 15px;
  border-radius: 10px;
  border: solid 1px var(--bgColor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}
