.waterChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100vw;
}

.waterChartMenu {
  width: 700px;
  height: 1rem;
  // margin-left: calc((100vw - 700px) / 2);
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
  // background: #1a1a1a;
  // color: rgba(54, 162, 235, 1);
}

.waterChartMenu p {
  // padding: 0px;
  // font-size: 1rem;
}

.waterChartCard {
  // height: calc(100vh - 40px);
  // background: rgba(54, 162, 235, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.waterChartBox {
  width: 650px;
  height: 120px; /* ← chartの高さを低くする */
  padding: 10px 0 10px 0;
  margin: 15px;
  border-radius: 10px;
  border: solid 3px var(--bgColor);
  margin-bottom: 50px;
}
