.tags-input-container {
  position: relative;
  padding: 0.7em;
  border-radius: 10px;
  width: 250px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  background: var(--inputColor);

  .tag-item {
    background-color: var(--tagsColor);
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 20px;
    display: flex;
    align-items: center;

    .close {
      height: 16px;
      width: 16px;
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.5em;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .tags-input {
    flex-grow: 1;
    padding: 0.5em 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: var(--inputColor);
  }
}

.tags-counter {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 3px 15px;

  align-items: center;

  .error-message {
    color: rgb(241, 40, 40) !important;
    font-weight: 400;
    font-size: 12px;
    padding: 0.5rem 0;
    display: block;
  }

  .countTag {
    position: absolute;
    top: 50%;
    right: 7%;
  }
}
