.buttonContainer {
  // position: fixed;
  // left: 150px;
  width: 200px;
  // height: 100%;
  overflow-y: auto; // 葉のグラフが半分表示されない原因になるため削除
  z-index: 20;
  padding-top: 70px;

  .watering__icon {
    width: auto;
    height: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: end;
    align-items: center;

    .watering__button .fa-solid {
      font-size: 25px;
      color: var(--blackColor);
      border-radius: 50%;
      padding: 8px;
      width: 45px;
      height: 45px;
      transition: ease 0.3s;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      // border: 1px solid var(--bgColor);
      &:hover {
        cursor: pointer;
        background: var(--hoverColor);
        color: var(--blackColor);
        transform: translateY(2px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .leafCount__icon {
    width: auto;
    height: 40px;
    margin-right: 40px;
    margin-top: 37px;
    display: flex;
    justify-content: end;
    align-items: center;

    .leafCount__button .fa-solid {
      font-size: 25px;
      color: var(--blackColor);
      border-radius: 50%;
      padding: 8px;
      width: 45px;
      height: 45px;
      transition: ease 0.3s;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      // border: 1px solid var(--bgColor);
      &:hover {
        cursor: pointer;
        background: var(--hoverColor);
        color: var(--blackColor);
        transform: translateY(2px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .comment__icon {
    width: auto;
    height: 40px;
    margin-right: 40px;
    margin-top: 37px;
    display: flex;
    justify-content: end;
    align-items: center;

    .comment__button .fa-solid {
      font-size: 25px;
      color: var(--blackColor);
      border-radius: 50%;
      padding: 8px;
      width: 45px;
      height: 45px;
      transition: ease 0.3s;
      align-items: center;
      // border: 1px solid var(--bgColor);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      &:hover {
        cursor: pointer;
        background: var(--hoverColor);
        color: var(--blackColor);
        transform: translateY(2px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }

  .edit__icon {
    width: auto;
    height: 40px;
    margin-right: 40px;
    margin-top: 37px;
    display: flex;
    justify-content: end;
    align-items: center;

    .edit__button .fa-solid {
      font-size: 25px;
      color: var(--blackColor);
      border-radius: 50%;
      padding: 8px;
      width: 45px;
      height: 45px;
      transition: ease 0.3s;
      align-items: center;
      // border: 1px solid var(--bgColor);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      &:hover {
        cursor: pointer;
        background: var(--hoverColor);
        color: var(--blackColor);
        transform: translateY(2px);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.delete__icon {
  position: fixed;
  right: 130px;
  bottom: 12px;
  width: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  .delete__button .fa-solid {
    font-size: 25px;
    color: var(--blackColor);
    border-radius: 50%;
    padding: 8px;
    width: 35px;
    height: 35px;
    transition: ease 0.3s;
    align-items: center;
    // border: 1px solid var(--bgColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    &:hover {
      cursor: pointer;
      background: var(--deleteColor);
      color: var(--blackColor);
      transform: translateY(2px);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }
}

.buttonContainer::-webkit-scrollbar {
  display: block;
  width: var(--sb-size);
}

.buttonContainer::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

.buttonContainer::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
  border: 2px solid #eaf0f3;
}
