.card {
  // done
  width: 260px;
  height: 260px;
  //   box-shadow: 2px 6px 10px 3px #777777;
  box-shadow: rgb(0, 0, 0, 0.3) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.3) -3px -3px 6px 1px inset;
  border-radius: 35px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

//transition: all 0.4s ease-in-out;

//.card:hover {
//  transform: translateY(5px);
//  box-shadow: none;
//}

.cardInfo {
  width: 100%;
  height: 100%;
  transform: translateY(75%); // 植物名が画面75%↓方向に移動
  // transition: 0.2s ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
  text-align: center;

  .name {
    color: var(--whiteColor);
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px #000;
    padding-top: 5px;
  }

  span.flex {
    color: #f5eded;
    font-size: 1rem;
    text-align: center;
    display: block;
    display: flex;
    justify-content: center;
  }

  p {
    text-align: justify;
    width: 75%;
    color: #dbd8e3;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 13px;
  }
}

.card:hover > .cardInfo {
  // transform: translateY(50%);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
}

.fa-location-dot {
  margin-left: 4px;
  color: var(--waterColor);
  font-size: 18px;
}
