.Top-button {
  color: black;
}
.Plants-button {
  color: black;
}
.History-button {
  color: black;
}
.Logout-button {
  color: black;
}
.Login-button {
  color: black;
}

img {
  transition: ease 0.3s;
  &:hover {
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
}
