.plantsLinks {
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow-y: auto;
  margin-top: 20px;

  .plantsList-title {
    font-size: 0.85rem;
    color: black;
    opacity: 0.75;
    padding: 10px;
    pointer-events: none;
  }

  a {
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: black;
  }

  .plantLinkIcon {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}
