.modal {
  background: var(--whiteColor);
  height: 300px;
  width: 340px;
  padding: 1em;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .close-modal-btn {
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--blackColor);
    border-radius: 50%;
    padding: 2px;
    width: 25px;
    height: 25px;
    border: 1px solid var(--bgColor);
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
  }

  .btn-danger {
    width: 75px;
    background-color: #ff4c29;
    color: var(--whiteColor);
    transition: ease 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: var(--deleteColor);
      color: var(--whiteColor);
    }
  }

  .btn-cancel {
    width: 75px;
    color: var(--blackColor);
    transition: ease 0.3s;
    &:hover {
      color: var(--blackColor);
      background-color: rgb(229 231 235 / 0.5);
    }
  }
}
