.container {
  width: 280px;
  margin: auto;
  border-radius: 10px;

  .wrapper {
    margin: 3rem 0 1rem 0;

    .emoji {
      display: flex;
      justify-content: center;
      gap: 7px;

      button {
        font-size: 1.9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 18px 8px 18px;
        border-radius: 10px;
        transition: ease 0.3s;
        opacity: 0.83;
        color: rgb(185, 173, 173);

        span {
          font-size: 0.75rem;
          margin-top: 10px;
          color: var(--blackColor);
          transition: ease 0.3s;
        }

        &:hover {
          color: var(--blackColor);
          background-color: rgb(229 231 235 / 0.5);
          opacity: 1;
        }
      }

      .button--active {
        color: var(--blackColor);
        background-color: rgb(229 231 235 / 0.5);
        opacity: 1;
      }
    }

    .text {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      text-align: center;
    }
  }

  textarea {
    width: 100%;
    display: block;
    color: white;
    border: solid 1px var(--bgColor);
    border-radius: 10px;
    padding: 15px;
    resize: none; // textareaの拡大を禁止
    outline: none; // クリック時のアウトラインを無効化
    height: 0;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .textarea--active {
    padding: 0.5rem 0.7rem;
    opacity: 1;
    height: 5rem;
    color: black;
  }
}
